---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="4oz Studio - Games" description="See the games released by 4oz Studio" />
		<style>
            main {
            }

            .games-container {
                border: 1px solid black;
                height: 100%;
                max-width: 750px;
                
            }

            .game {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid black;
                margin-bottom: 0px;
                padding: 8px;
            }
            .game-img {
                height: 300px;
            }
            .title {
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .game-link {
                display: inline-block;
                text-align: center;
                border: 1px solid black;
                width: 100px;
                padding: 4px;
                color: black;
                cursor: pointer; 
                font-size: 16px;
                font-weight: 600;
            }
            .game-link:hover {
                color: black;
				background-image: linear-gradient(
					45deg, 
					rgba(0,0,0,0.2) 25%, 
					transparent 25%, 
					transparent 50%, 
					rgba(0,0,0,0.2) 50%, 
					rgba(0,0,0,0.2) 75%, 
					transparent 75%, 
					transparent
					);
				background-size: 5px 5px;
            }

            .game-info {
                display: flex;
                font-size: 14px;
            }
            
            .game-img-small {
                height: 140px;
            }
		</style>
	</head>
	<body>
        <Header />
		<main>
			<div class="games-container">

                <div class="game">
                    <img src="/game-assets/SpatialSpray.png" alt="Neon Pulse: Darkness game banner art" class="game-img"/>
                    
                    <div class="title">
                        <h2>NeonPulse: Darkness</h2>
                        <div class="links">
                            <a class="game-link" title="View game on Steam" target="_blank">Steam</a>
                        </div>    
                    </div>

                    <div class="game-info">
                        <div class="game-info-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It does not mean much when you actually read it</p>
                            <ul>
                                <li>Bullet point 1</li>
                                <li>Bullet point 2</li>
                                <li>Bullet point 3</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="game">
                    <img src="/game-assets/DarkRedBlueBlack.png" alt="Optimize Man: The Gymcel game banner art" class="game-img"/>
                    
                    <div class="title">
                        <h2>Neon Pulse</h2>
                        <div class="links">
                            <a class="game-link" title="View game on Steam" target="_blank">Steam</a>
                        </div>    
                    </div>

                    <div class="game-info">
                        <div class="game-info-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It does not mean much when you actually read it</p>
                            <ul>
                                <li>Bullet point 1</li>
                                <li>Bullet point 2</li>
                                <li>Bullet point 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
		</main>
	</body>
</html>
