  body {
    background-color: black;
    color: white;
    margin: 5;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


h1, h2, label, p, ul, li {
  font-family: 'Fragment Mono', monospace;
  color: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  font-weight: lighter;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Header */
.headnav {
  text-align: center;
}

.nav-list {
  display: inline-block;
  margin: 0px;
}

.head-title {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.nav-button {
  background-color: #2c3f50;
  color: #ecf0f1;
  border: 1px solid #3f3f3f;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.1s, color 0.2s, border-color 0.5s;
}

.nav-button:hover {
  background-color: #c94949;
  color: #2c3e50;
  border-color: #2c3e50;
}

/* Body */
.container {
  max-width: 1000px; 
  margin: 0 auto;
  overflow: hidden; 
}
    /* Left */
    .left-body,
    .right-body {
      width: 50%;
    }
    
    .left-body {
      float: left;
    }
    
    .right-body {
      float: right;
    }

.card {
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 10px;
  margin: 2px;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

    /*blog*/
    .blog-container{
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 10px;
    }

    .blog-post {
      background-color: #070707d8;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
    }
    
    .blog-post h2 {
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    
    .blog-post p {
      background-color: #000000;
      font-size: 10px;
      color: #dddddd;
      line-height: 1.8;
      white-space: pre-wrap;
    }
    
    .blog-post .date {
      font-size: 14px;
      color: #999;
      margin-top: 10px;
    }




/*contact*/
.linkedin-logo {
  filter: invert(1);
}
.contact-info {
  margin-left: 40%;
}


/*
    projects
*/
.right-proj, 
.left-proj{
  width: 50%;

}
.left-proj {
  float: left;
}
.right-proj {
  float: right;
}

.row-title{
  border: 0.2px solid hsl(0, 0%, 4%);
  text-align: center;
  font-family: monospace;
  margin-bottom: 3px;
}

.proj-card {
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 10px;
  margin: 2px;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

.proj-img {
  width: 100%;
  height: 100%; 
}

.proj-content {
  margin: 2px;
  text-align: center;
  width: 100%;
}
.proj-desc{
  font-weight: lighter;
  margin: 8px;
  font-size: 0.7em;
}

.proj-button { 
  background-color: #1b1b1b;
  border: 1px solid #3f3f3f;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.1s, color 0.2s, border-color 0.5s;
}

.proj-button:hover {
  background-color: #c94949;
  color: #2c3e50;
  border-color: #2c3e50;
}

.proj-list {
  color: #000;
}



@media (max-width: 767px) {
  body {
    font-size: 14px; 
    margin: 0;
    
  }
  .container{
    width: auto;
  }
  .left-body,
  .right-body {
    width: 100%; 
    float: none;
    display: block;
  }

  .card {
    width: 92%; 
    max-width: none; 
    margin: 5px 0; 
  }

  .contact-form {
    width: 70%; 
    margin: auto; 
  }

}